*
{
    padding: 0;
    margin: 0;
    font-family:'Lato';
}
body
{
    background-color: rgb(21, 25, 33);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.grid-container {
    display: flex;
    flex-direction: column;
}
.grid-row
{
    display: flex;
}
.grid-item {
    border: 1px solid rgba(0, 0, 0, 0.8);
    
    height: 5rem;
    width: 5rem;

    font-size: 30px;
    
    display: flex;
    align-items: center;
    justify-content: center;
}
.black
{
    background-color: rgb(31, 37, 51);
}
.white
{
    background-color: rgba(179, 222, 255);
}
.highlight
{
    background-color: rgba(22, 115, 255, 0.8);
}